body
{
background-image:url('https://img.wallpapersafari.com/tablet/1200/1920/91/72/yLtSmh.jpg');
	background-repeat:no-repeat;
	background-size:cover;		
}
h1
{
	color:black;
}
table
{
	width:50%;
	border-radius:10px;
}